.m-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.789);
    z-index: 10000;
    transition: transform 300ms ease-in-out;
    i {
        font-size: 3em;
        position: absolute;
        top: 60px;
        right: 30px;
    }
    .tb-modal {
        position: relative;
        margin: 4em;
        padding: 4em;
    }
}

.n-modal {
    transform: translateY(-1000%)
}
